* {
    margin: 0;
    padding: 0;
    font-family: :'Courier New', Courier, monospace;
}

body{
    /* margin: 10px;
   padding: 10px;  */
}

.container {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

header {
    padding: 10px;
    margin: 10px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 10px 0 10px 0;
    justify-content: space-between;
}

.title-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.190);
    padding: 10px;
    border-radius: 10px 0 10px 0;

}

.title-nav a{
    padding: 0 10px 0 10px;
    margin: 5px;
}

.nav-bar-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 10px 0 10px 0;

}

.nav-bar-icon a{
    padding: 0 20px 0 20px;
    margin: 5px;
}

pattern-header {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}

